body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}
span {
    margin-top: 23px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: center;
        }
.text{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    position: relative;
    height: 70px;
    margin-bottom: 20px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
    }

.left-triangle{
  /* To change the triangle's height and width, change the size of the border below */
  /* Change the color of the triangle by changing the color of the last term below */
  height: 0;
  width: 0;
  margin-top: 7px;
  margin-right: -1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
  ;
 }
.right-triangle{
  /* To change the triangle's height and width, change the size of the border below */
  /* Change the color of the triangle by changing the color of the last term below */
  height: 0;
  width: 0;
  margin-top: 7px;
  margin-right: -1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid blue;
 }
.box{
  position: relative;
  background:red;
    height:40px;
    width:100px;
  border: none;
  box-sizing: border-box;
}
.box:before{
  content:'';
  position: absolute;
  right: -10px;
  top: 0;
  border: none;
    height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid red;
}
img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50%;
    }

.time { 
    display: none;
    border-radius: 20px;
    height: 10px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    }

#first:hover .time, #second:hover .time, #third:hover .time, #fourth:hover .time {
    display: block;
               }